@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
}

.form-page {
    color: white;
    background-color: rgb(111, 23, 192);
}

#valid-page {
    color: white;
    background-color: rgb(111, 23, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

